# # 1 Cтворіть змінні a, b, c та d, задайте їм значення відповідно 101, 210, 111, 402, та обчисліть з допомогою Python наступний вираз:
(a+b)∗cd 
Важливо: тут ми маємо обчислити значення саме з використанням змінних, а не просто чисел, як би ми робили у калькуряторі. Змінні потрібні аби за бажання ми могли змінити їх значення та не переписувати код обчислення виразу, бо він буде працювати для різних значень змінних.

In [1]:
a = 101
b = 210
c = 111
d = 402

In [6]:
result = ((a + b) * c) / d
print(round(result, 2))

85.87

# # 2 Якою буде остача від ділення числа 11283 на 89? Обчисліть з допомогою Python

In [11]:
a=11283%89
print(a)

69

# # 3 Скільки цілих разів поміститься число 89 в 11283? (Або що те саме: який буде результат цілочисельного ділення 11283 на 89?)

In [14]:
g=11283//89
print(g)

126

# # 4 Запишіть у змінну name ваше імʼя.

In [17]:
name = "Alena"

# # 5 Запишіть у змінну surname ваше прізвище

In [18]:
surname = "Zaporozets"

# # 6 Сконкатенуйте імʼя та прізвище в одну фразу через пробіл. Запишіть результат у нову змінну name_surname та виведіть результат на екран.

In [20]:
name_surname = name + " " + surname
print(name_surname)

Alena Zaporozets

# # 7 Зробіть усі літери змінної name_surname заглавними використовуючи метод рядків в Python:Очікувана відповідь (тільки з вашими даними): 'HANNA PYLIEVA'

In [23]:
print(name_surname.upper())

ALENA ZAPOROZETS

# # 8 Виведіть третю літеру вашого name_surname. Тут уважно, треба саме третя літера. Згадайте, з якого значення починається індексування значень в Python.Очікувана відповідь (тільки з вашими даними): 'n'

In [30]:
print(name_surname[2])

e

# # 9 Виведіть першу та останню літеру вашого прізвища.Очікувана відповідь (тільки з вашими даними): ('P', 'a')

In [35]:
print((surname[0], surname[2]))

('Z', 'p')

# # 10 Виведіть довжину вашого прізвища.Очікувана відповідь (тільки з вашими даними): 7

In [36]:
len(name_surname)

16

# #11 Виведіть кількість літер a у столиці Мадагаскару Antananarivo. Важливо врахувати всі літери, як великі, так і маленькі.

In [43]:
sity = "Antananarivo"
litera_a = sity.lower().count('a')
print(litera_a)

4

# #12 Створіть рядок my_string зі значенням: "The quick brown fox jumps over the lazy dog!!!".
Перевірте, чи починається рядок my_string з "The" і чи закінчується він "dog!". Виведіть результати на екран.

In [45]:
my_string = "The quick brown fox jumps over the lazy dog!!!"
starts_with_The = my_string.startswith("The")
ends_with_dog = my_string.endswith("dog!")
print(starts_with_The)
print(ends_with_dog)

True
False

# #13 Розділіть рядок my_string на список окремих слів, а потім з'єднайте всі слова через нижнє підкреслювання. Виведіть результат на екран.Очікуваний результат: The_quick_brown_fox_jumps_over_the_lazy_dog!!!

In [54]:
sentence = my_string.split(" ")
print(sentence)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog!!!']

In [55]:
result = "_".join(sentence)
print(result)

The_quick_brown_fox_jumps_over_the_lazy_dog!!!