# # # Заданий список new_list. Перетворіть його на набір (set). Які зміни у наборі елементів Ви помітили? Відповідь напишіть у коментарі до коду (саме в клітинці з кодом). new_list = [22, 11, 67, 11, 88, 3213, 12, 78, 67, 11, 16, 15, 88]

In [3]:
new_list = [22, 11, 67, 11, 88, 3213, 12, 78, 67, 11, 16, 15, 88]

In [4]:
set_list = set(new_list)

In [9]:
print(set_list)
# 1) Повторювані елементи були видаленти видалено
# 2) Порядок елементів не збеігся

{67, 11, 12, 3213, 78, 15, 16, 22, 88}

# # # Задано набір елементів set_a і значення new_value. Додайте значення new_value до набору set_a. Виведіть оновлений set_a на екран. set_a = {121, 144, 177, 199}
new_value = 88

In [11]:
set_a = {121, 144, 177, 199}
new_value = 88

In [12]:
set_a.add(new_value)

In [13]:
print(set_a)

{199, 144, 177, 88, 121}

# # # У наборів є операції обʼєднання, перетину та різниці. Обʼєднання - це коли ми хочемо обʼєднати всі елементи, які є в двох наборах. Виконати обʼєднання можна опреацією union, наприклад, аби виконати те, що зображено нижче, ми використаємо код
A = {2, 4, 5, 6}
B = {4, 6, 7, 8}

print("A U B:", A.union(B))

Нижче наведено 3 набори. Створіть новий набір result_set, який є обʼєднанням трьох наведених наборів і виведіть результат на екран.
set1 = {1, 2, 3, 4, 5, 10, 15, 20}
set2 = {4, 5, 6, 7, 8, 15, 20, 25}
set3 = {7, 8, 9, 10, 11, 20, 25, 30}

In [15]:
set1 = {1, 2, 3, 4, 5, 10, 15, 20}
set2 = {4, 5, 6, 7, 8, 15, 20, 25}
set3 = {7, 8, 9, 10, 11, 20, 25, 30}

In [21]:
result_set = set1.union(set2, set3)

In [22]:
print(result_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15, 20, 25, 30}

# # # Практика на роботу зі словниками. Це завдання включає 4 невеличких пункти:
Створіть словник, що містить 5 пар ключ-значення, де ключі - це імена студентів (тип рядок), а значення - їхні оцінки з програмування від 1 до 12. Запишіть словник у змінну. Значення - довільні.

Виведіть весь словник на екран. Важливо, аби словник вивівся на екран в jupyter notebook, будь-який спосіб, який це робить, нам підходить.

Додайте до словника нового студента та його оцінку.

Виведіть оцінку одного конкретного студента, звертаючись до неї за його ім'ям.

In [24]:
students = {
 "Anna" : 1,
 "Helen" : 8,
 "Viktoriya" : 5,
 "Misha" : 7,
 "Maryna" : 12
}

In [26]:
print(students)

{'Anna': 1, 'Helen': 8, 'Viktoriya': 5, 'Misha': 7, 'Maryna': 12}

In [30]:
students["Mark"] = 3

In [35]:
print(students["Viktoriya"])

5

# # # На лекції ми обговорили різницю між колекціями tuple і list. Основна з них - те, що tuple - це незмінна структура. Але ж що робити, якщо нам все ж треба змінити значення в tuple? Наступний набір завдань - аби попрацювати над цим.
Заданий кортеж my_tuple. Спробуйте призначити елементу з індексом 3 значення 22. 
my_tuple = (11, 12, 13, 14, 15)

In [47]:
my_tuple = (11, 12, 13, 14, 15)

In [ ]:
my_tuple[3] = 22 
# # виникне помилка TypeError, тому що tuple (кортеж) є незмінною структуро, елементи не можна змінювати після створення.

# # # Перетворіть кортеж my_tuple на список my_list. Для перетворення скористайтесь викликом функції. Нам треба отримати my_list саме перетворенням my_tuple на нього, а не визначаючи вручну (таке виконання буде зараховане як помилка).

In [49]:
my_list = list(my_tuple)

print(my_list)

[11, 12, 13, 14, 15]

# # # Тепер змініть значення елемента з індексом 3 списку my_list на 22.

In [51]:
my_list[3] = 22
print(my_list)

[11, 12, 13, 22, 15]

# # # Оновлений список my_list перетворіть на новий кортеж modified_tuple і виведіть modified_tuple на екран.

In [52]:
modified_tuple = tuple(my_list)
print(modified_tuple)

(11, 12, 13, 22, 15)